.question h2 {
  font-size: 22pt;
}

.answers {
  font-size: 14pt;
  -webkit-padding-start: 0;
}

.answer-choice {
  border: 2px #fff solid;
  border-radius: 10px;
  list-style-type: none;
  margin: 0 auto 25px;
  padding: 10px;
  text-align: center;
  width: 75%;
}

.answer-choice:last-of-type {
  margin-bottom: 50px;
}

.next {
  display: table;
  margin: 0 auto;
}

.selected {
  border: 2px gold solid !important;
}
