@font-face {
  font-family: "Harry Potter";
  src: url("./font/HARRP___.TTF");
  src: url("./font/HARRP___.TTF") format("tff"), url("./font/HARRP___.TTF") format("truetype");
}

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  color: gold;
  font-family: "Harry Potter", cursive;
  font-weight: normal;
}

p,
span,
ul,
ol,
li {
  font-family: 'Arial', sans-serif;
}

.game-wrapper {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 50px;
}

.button {
  background-color: transparent;
  border: 2px gold solid;
  border-radius: 10px;
  color: gold;
  font-family: "Harry Potter", cursive;
  font-size: 16pt;
  padding: 15px;
}

.button:focus {
  outline: none;
}
